body.login {

    &::after {
        content: "";
        width: 100%;
        height: auto;
        aspect-ratio: 16.271;
        clip-path: shape(from 0% 99.7%, vline to 100%, hline to 100%, vline to 0%, line to 0% 99.7%, close);
        display: block;
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: #00A0E2;
    }

    h1 a {
        background-image: url(../../assets/img/site-logo.svg);
        height: 6rem;
        background-size: contain;
        width: 100%;
    }
} 