/* Tablet Styles */

// Header / Navigation

$header_height : 5rem;

header.header {

    // site header
    &#site-header {

    
        .navbar#main-navbar {
            padding: 1rem 0;
            height: $header_height;
    
            .site-branding {
                position: relative;
                z-index: 10;

                .site-title {
                    font-size: clamp(calc(var(--font-size-site-title) / 2), 5vw, var(--font-size-site-title));
                }
            }
    
            nav.navigation {
                transition: all ease 650ms;

                &#main-nav {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    height: calc(100dvh + 1px);
                    overflow: auto;
                    transform: translateY(-100%);
                    padding-top: $header_height ;
                    padding-left: $container_padding;
                    padding-right: $container_padding;
                    background-color: var(--background-color-primary);
                    // border-bottom: 1px solid var(--base-color-white);

                    &.menu-open {
                        transform: translateY(0);
                    }

                    .menu#primary-menu {
                        margin: 0;
                        padding: 3rem 0;
                        flex-direction: column;
                        gap: 0;

                        // only first level menu items
                        > li.menu-item {
                            font-size: clamp( var(--font-size-nav), 5vw, calc(var(--font-size-nav) * 2));
                            border-bottom: 1px solid var(--border-color-secondary);
                            padding: 1.5rem 0;

                            &:last-of-type {
                                border-bottom: none;
                            }
                        }

                        li.menu-item {

                            &:hover {
                            }

                            a.nav-link {
                                display: inline-block;
                                border-bottom: 0px;
                                padding: 0;
                            }

                            &.menu-item-has-children {

                                .dropdown-wrapper {
                                    display: flex;
                                    gap: 1rem;
                                    align-items: center;
                                    justify-content: space-between;
                                }

                                span.dropdown-icon {
                                    width: 2rem;
                                    height: 2rem;
                                    background-size: 70%;
                                }

                                ul.sub-menu {
                                    display: none;
                                    position: relative;
                                    padding: 0;
                                    padding-top: 1rem;
                                    margin-top: 1rem;
                                    margin-left: 0;
                                    background: none;
                                    gap: .75rem;
                                    // border-top: 1px solid var(--border-color-tertiary);                                   

                                    li.menu-item {
                                        font-size: clamp(calc(var(--font-size-nav) * .75), 3vw, var(--font-size-nav) * 1.25);
                                    }
                                }

                                &.collapsed {
                                    ul.sub-menu {
                                        display: flex;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            button.navbar-toggle {
                display: block;
            }
        }
    }
}

main.site-main {
    padding-top: $header_height;
}


/* Footer */
footer.footer {

    // site footer
    &#site-footer {
        padding: 2rem 0;

        .footer-wrapper {
            gap: 1rem;
        }

        .site-title {
            font-size: calc(var(--font-size-site-title) * .75);
        }
    }
}


//ACF Form
#acf-form {
    
    .acf-field-66880973f2bb8 {
        .acf-field {
            width: 100%!important;
        }
    }
} 

// Boxes
.box,
.linkbox {
    padding: calc(var(--boxes-padding-tb) * .8) calc(var(--boxes-padding-lr) * .8);
}

// Forderungen List
.forderungen-shortcode {
    .forderungen-item {
        .forderungen-inner {
            flex-direction: column;
        }
    }
}

// Downloads
.downloads-shortcode {

    .download-item {

        .download-content {
            flex-direction: column;
            align-items: start;

            .download-thumnail {
                width: 100%;
                height: 22vw;
                min-height: 12rem;
                padding: 1rem;

                > img {
                }
            }
        }
    }
}

// add to calendar link
.add-to-calendar {

    .atcb-list {
        left: unset;
        right: 0;
        top: 100%;
        width: calc(100vw - 5rem);
    }
}